//app font sizes
$font-size-xxl: 4.8rem;
$font-size-xl: 3.6rem;
$font-size-32: 3.2rem;
$font-size-28: 2.8rem;
$font-size-16: 1.6rem;
$font-size-l: 2.4rem;
$font-size-2rem: 2rem;
$font-size-med: 1.8rem;
$font-size-reg: 1.6rem;
$font-size-small: 1.4rem;
$font-size-xs: 1.2rem;
$font-base-size: 10px;
$font-size-xxs: 0.8rem;

// Font weights
$font-weight-bold: 700;
$font-weight-semi-bold: 600;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-size-12px: $font-size-xs;
$font-size-14px: $font-size-small;
$font-size-11px: 1.1rem;
$font-size-20px: 2rem;

$btn-opacity-disabled: 0.3;
$app-bg-color: #f9f9f9;
$btn-dft-pressed-bdr-color: #b3b3b3;
$btn-primary-pressed-color: #5632A4;
$colorCompoundBrandStroke: #684CF6;
$link-pressed-color: #0f548c;
$breadcrumb-item: #333;
$card-border: #e4e4e4;
$contact-title: #5a5a5a;
$contact-name: #1a1a1a;
$toggle-checked-color: #6b46ff;
$btn-back-color: #424242;
$btn-primary-color: #684CF6;
$btn-hover-primary: #5a3fb1;
$btn-secondary-color: #6b7280;
$btn-secondary-hover: #4b5563;
$btn-danger-color: #dc2626;
$btn-danger-hover: #b91c1c;
$btn-border-color: #d1d1d1;
$primary-black: #242424;
$color-black: #000;
$color-white: #fff;
$filter-border: #e6e6e9;
$table-header-color: #fafafa;
$table-bordercolor: #e0e0e0;
$link-color: #6240E8;
$login-page-bg: #351f65;
$primary-color: #6953c1;
$primary-background-color: #351f65;
$neutral-stroke: #616161;
$neutral-foreground: #707070;
$neutral-strole-1: #D1D1D1;
$neutral-background-hover: #f5f5f5;
$brand-stroke-2-contrast: #bfafed;
$grey-94: #f0f0f0;
$pill-hover-color: #c7c7c7;
$pagination-arrow-disabled: #bdbdbd;
$color-purple: #684CF6;
$color-grey: #616161;
$color-table-hightlight: #e6e6e6;
$expand-btn-border: #ebebeb;
$color-menu-border: #eee;
$expand-btn-color: #666666;
$border-shadow-color: #00000024;
$status-bg-inprogress: #EDEDFF;
$warning-error-color: #bc4b09;
$warning-border-color: #fdcfb4;
$warning-bg-color: #fff9f5;
$warning-icon-color: #F7630C;
$warning-border-color: #EEACB2;
$warning-background-color: #FDF3F4;
$error-icon-color: #B10E1C;
$error-text-color: #D13438;
$success-toast-color: #107C10;
$validate-success-bg: #F1FAF1;
$validate-success-border: #9FD89F;
$validate-error-bg: #FDF3F4;
$validate-error-border: #EEACB2;
$priority-high: #DA3B01;
$priority-normal: #ECDFA5;
$priority-low: #9FD89F;
$priority-urgent: #B10E1C;
$status-rejected: #C43501;
$status-bg-pending: #FDF6F3;
$status-border-pending: #F4BFAB;
$status-border-inprogress: #C9C8FE;
$status-completed: #107C10;
$priority-urgent-dot: #B10E1C;
$priority-high-dot: #F7630C;
$priority-normal-dot: #13A10E;
$success-text-color: #0E700E
