.basic-modal {
    .modal-body {
        padding: 12px 24px;
        width: max-content;
    }

    .modal-content {
        width: max-content;
    }
}

.assign-task-modal-body {
    margin-bottom: 70px;
}
